/*
   Reset some default styles
   Page: All
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
   General Styles
   Page: All
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

/*
   Header Styles
   Page: All
*/
header {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 2.5em;
    margin: 0;
}


/*
   Navigation Styles
   Page: All
*/
nav {
    background-color: #1b283e;
    color: gold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: teal;
}
/*
   Main Content Styles
   Page: All
*/
main {
    max-width: 1200px; /* Increase the max-width for a larger container */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide any overflow content */
}

/*
   Button Container Styles
   Page: All
*/
.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.buttons-container button {
    display: inline-block;
    background-color: teal;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add color transition */
}

.buttons-container button:hover {
    background-color: gold;
    color: teal;
}

/*
   Table Container Styles
   Page: Catalog Page
*/
#inventoryTableContainer {
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to the bottom */
    overflow: hidden; /* Hide horizontal overflow */
}

/*
   Footer Styles
   Page: All
*/
footer.site-footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Add margin to the top */
}

/*
   Table Styles
   Page: Catalog Page
*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Add margin for spacing between the table and other elements */
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

/*
   Styles for the "Action" column
   Page: Catalog Page
*/
#inventoryTable th:nth-child(11),
#inventoryTable td:nth-child(11) {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
   Button Styling in the Table
   Page: Catalog Page
*/
button.delete-button,
button.update-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-button:hover,
button.update-button:hover {
    background-color: gold;
    color: teal;
}
/*
   Button Styling in the Table
   Page: Index Page
*/
.deleteButton {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}