/*
   Reset some default styles
   Page: All
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
   General Styles
   Page: All
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

/*
   Header Styles
   Page: All
*/
header {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/*
   Navigation Styles
   Page: All
*/
nav {
    background-color: #1b283e;
    color: gold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: teal;
}
/*
   Main Content Styles
   Page: All
*/
main {
    max-width: 1200px; /* Increase the max-width for a larger container */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide any overflow content */
}

/*
   Button Container Styles
   Page: All
*/
.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.buttons-container button {
    display: inline-block;
    background-color: teal;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add color transition */
}

.buttons-container button:hover {
    background-color: gold;
    color: teal;
}

/*
   Table Container Styles
   Page: Catalog Page
*/
#inventoryTableContainer {
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to the bottom */
    overflow: hidden; /* Hide horizontal overflow */
}

/*
   Footer Styles
   Page: All
*/
footer.site-footer {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Add margin to the top */
}

/*
   Table Styles
   Page: Catalog Page
*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

/*
   Styles for the "Action" column
   Page: Catalog Page
*/
#inventoryTable th:nth-child(11),
#inventoryTable td:nth-child(11) {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
   Button Styling in the Table
   Page: Catalog Page
*/
button.delete-button,
button.update-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-button:hover,
button.update-button:hover {
    background-color: gold;
    color: teal;
}
/* Checkin.html styling */

/* Adding some basic styling to buttons */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, filter 0.3s; 

    /* Change button style on hover */
    &:hover {
        background-color: gold;
    }
}

/* Check In button specific styling */
#checkoutForm input[type="submit"] {
    background-color: teal;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;

    /* Center the button within the form */
    margin: 0 auto;
    display: block;
}

/* Change button style on hover */
#checkoutForm input[type="submit"]:hover {
    background-color: gold;
    filter: brightness(90%);
}

/* Adding styling for the Item ID input */
#checkoutForm #itemID {
    padding: 5px 10px; 
    font-size: 14px; 
    border: 1px solid teal;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(50% - 22px);
    box-sizing: border-box; 
}

/* Display all buttons in the same row */
.custom-button,
#checkoutForm input[type="submit"] {
    display: inline-block;
    margin-right: 10px; 
}
/* Checkout.html styling */

/* Adding some basic styling to buttons */
.custom-outbutton {
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px; 
    transition: background-color 0.3s, filter 0.3s;

    /* Change button style on hover */
    &:hover {
        background-color: gold;
    }
}
/* Search Bar Styles */
#searchInput {
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid teal; 
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchCriteria {
    padding: 10px;
    font-size: 16px; 
    border: 1px solid teal; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

#searchBtn {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: teal; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, filter 0.3s; 
}

#searchBtn:hover {
    background-color: gold; 
    filter: brightness(90%); 
}

/* Add Item Button Styles */
#addItemBtn {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: teal; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, filter 0.3s; 
}

#addItemBtn:hover {
    background-color: gold; 
    filter: brightness(90%); 
}


#addItemFormContainer {
   
}

.form-group {
    margin-bottom: 15px; 
}

.closeBtn {
   
}

/* Styles for the submit button within the form */
#addSubmitBtn {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: teal; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, filter 0.3s; 
}

#addSubmitBtn:hover {
    background-color: rgb(1, 56, 56); 
    filter: brightness(90%); 
}

/* Styles for the table columns in the catalog page */
#inventoryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#inventoryTable th,
#inventoryTable td {
    border: 1px solid #000;
    padding: 12px;
    text-align: left;
}

/* Customize the styles for each column */
#inventoryTable th:nth-child(1),
#inventoryTable td:nth-child(1) {
    width: 5%;
}

#inventoryTable th:nth-child(2),
#inventoryTable td:nth-child(2) {
    width: 15%;
}

#inventoryTable th:nth-child(3),
#inventoryTable td:nth-child(3) {
    width: 15%;
}

#inventoryTable th:nth-child(4),
#inventoryTable td:nth-child(4) {
    width: 5%;
}

#inventoryTable th:nth-child(5),
#inventoryTable td:nth-child(5) {
    width: 15%;
}

#inventoryTable th:nth-child(6),
#inventoryTable td:nth-child(6) {
    width: 10%;
}

#inventoryTable th:nth-child(7),
#inventoryTable td:nth-child(7),
#inventoryTable th:nth-child(8),
#inventoryTable td:nth-child(8),
#inventoryTable th:nth-child(11),
#inventoryTable td:nth-child(11),
#inventoryTable th:nth-child(12),
#inventoryTable td:nth-child(12) {
    width: 5%;
}

#inventoryTable th:nth-child(9),
#inventoryTable td:nth-child(9),
#inventoryTable th:nth-child(10),
#inventoryTable td:nth-child(10) {
    width: 8%;
}

#inventoryTable th:nth-child(13),
#inventoryTable td:nth-child(13) {
    width: 10%;
    text-align: center;
}

/* Add your styles for the action buttons in the table */
button.delete-button,
button.update-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.delete-button:hover,
button.update-button:hover {
    background-color: gold;
    color: teal;
}

